@import "settings";

$body-bg: #222;
$body-font-family: Adelle, Georgia, serif;

$panel-bg: rgba(20, 20, 20 , 0.5);
$panel-border-style: dashed !important;
$panel-border-color: white !important;
$panel-border-size: 1px !important;

$primary-color: #000;

$header-font-weight: 700;
$header-font-color: #efefef;
$subheader-font-weight: 400;
$paragraph-font-weight: 200;

@import "foundation";

body {
    background: url('http://subtlepatterns.com/patterns/tweed.png');
}

.logo {
    background: url('../logo.png') no-repeat;
    display: block;
    height: 110px;
    width: 336px;
    color: transparent;
}

@media only screen and (min-width: 40.063em) { 
    .logo-navigation {
        margin-top: 2em;
    }
}

.logo-navigation {
    dd {
        font-size: 1.5em;
    }
}

.panel {
    border-color: white;
}
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
